html {
  font-family: 'Noto Sans', sans-serif;
}
/* Header styles */
header.grey-bar {
  background-color: #F6F6F7;
  height: 2rem;
  margin: 1.5rem auto;
  position: relative;
}
button.btn {
  position: relative;
  background-color: #F6F6F7;
  color: #888888;
  border: none;
  fill: #888888;
  font-size: 0.7rem;
  border-radius: 0; /* Set border-radius to 0 to remove the smooth effects from bootstrap default*/
}
button.btn:hover {
  position: relative;
  background-color: #F6F6F7;
  color: #222222;
  fill:  #222222;
  font-size: 0.7rem;
  border-radius: 0; /* Set border-radius to 0 to remove the smooth effects from bootstrap default*/
}
.btn span {
  font-size: 0.7rem;
}

/* Header - Dropdown content */
ul.dropdown-menu {
  border-radius: 0; /* Set border-radius to 0 to remove the smooth effects from bootstrap default*/
}
li.cart-item {
  padding: 1rem 10rem 1rem 1rem;
  display: flex;
  flex-direction: row;
  border: none;
}
.item-image {
  min-width: 5rem;
  min-height: 7rem;
}
.item-image img {
  max-width: 100%;
  max-height: 100%;
  /* Set the maximum height for the item image */
}
.item-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 2rem;
  font-size: small;
}
.item-quantity-price {
  margin-top: 0.5rem;
}
.item-price {
  font-weight: bold;
  font-size: small;
}
.item-size {
  padding-top: 0.7rem;
  font-size: small;
}

/* Main styles */
.item-card {
  height: 100%;
  padding-top: 1rem;
}
h5 {
  padding-bottom: 1.5rem;
}
h6 {
  padding-top: 0.1rem;
  padding-bottom: 0.2rem;
}
p {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: smaller;
  color: #888888;
}
hr {
  margin: 0.4rem 0 !important;
  border-top: 1px solid #CCCCCC !important;
}
.size-label {
  color: #888888;
  display: flex;
  align-items: center;
}
.selected-size {
  font-weight: bold;
  font-size: small;
  color: #222222;
  margin-left: 0.3rem;
}
.size-text {
  color: #888888;
  font-size: smaller;
  font-weight: bold;
}
/* Main - Required star */
.required {
  color: #C90000;
}
.size-box {
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid #888888;
  color: #888888;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
  margin-top: 0.7rem;
  cursor: pointer;
}
.size-box:hover {
  border: 2px solid #222222;
  color: #222222;
}
/* Hide the default radio button and use custom styles */
.size-selection input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
/* When the radio button is checked */
.size-selection input[type="radio"]:checked+.size-box {
  border: 2px solid #222222;
  color: #222222;
}
/* ADD TO CARD */
.item-card button {
  background-color: white;
  color: #222222;
  border: 2px solid #222222;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Noto Sans', sans-serif;
  transition: background-color 0.2s ease;
}
.item-card button:hover {
  background-color: #222222;
  color: white;
  border: 2px solid #222222;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Noto Sans', sans-serif;
}
/* Small devices (landscape phones, 576px till 767px) */
@media (max-width: 767px) {
  button.screen {
    display: none;
  }
  header.grey-bar {
    max-width: 93%;
  }
  main {
    padding: 0 6%;
  }
hr{
  display: none;
}
  button.mobile {
    color: #888888;
    font-size: 0.7rem;
    padding-left: 70%;
  }
  .dropdown-menu {
    position: absolute;
    background-color: white;
    border: 1px solid #CCCCCC;
    right: 8%;
  }
  li {
    max-width: 12.5rem;
    max-height: 15rem;
  }
  h5 {
    padding-top: 2.1rem;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  header.grey-bar {
    max-width: 90%;
  }
  button.mobile {
    display: none;
  }
  .dropdown-menu {
    position: absolute;
    background-color: white;
    border: 1px solid #CCCCCC;
    right: 47%;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  header.grey-bar {
    max-width: 90%;
  }
  .dropdown-menu {
    position: absolute;
    background-color: white;
    border: 1px solid #CCCCCC;
    right: 49%;
  }
}
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  header.grey-bar {
    max-width: 90%;
  }
  .dropdown-menu {
    position: absolute;
    background-color: white;
    border: 1px solid #CCCCCC;
    right: 50%;
  }
}
/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  header.grey-bar {
    max-width: 90%;
  }
  .dropdown-menu {
    position: absolute;
    background-color: white;
    border: 1px solid #CCCCCC;
    right: 73%;
  }
}