html {
  font-family: 'Noto Sans', sans-serif;
}
/* Header styles */
header.grey-bar {
  background-color: #F6F6F7;
  height: 2rem;
  margin: 1.5rem auto;
  position: relative; /* Add position relative to the header */

}
button.btn {
  position: relative;
  background-color: #F6F6F7;
  color: #888888;
  border: none;
  font-size: 0.7rem;
}
button.btn:hover {
  position: relative;
  background-color: #F6F6F7;
  color: #000000;
  border: 1px solid  #CCCCCC;
  font-size: 0.7rem;
}
.btn span {
  font-size: 0.7rem;
}
/* Dropdown content */
.dropdown-menu {
  position: absolute;
  background-color: white;
  border: 1px solid #CCCCCC;
}

/* Main styles */
h5 {
  padding-bottom: 10px; /* Add padding to create space around child elements */
}
h6 {
  padding-top: 2px;
  padding-bottom: 5px; /* Add padding to create space around child elements */
}
p {
  padding-top: 20px;
  font-size: smaller;
  color: #888888;
}
hr {
  margin: 5px 0 !important;
  border-top: 1px solid #CCCCCC !important;
}

.item-card {
  height: 100%;
  padding-top: 20px;
}
/* Font color for specific elements */
.size-label {
  color: #888888;
  margin-top: 10px;
  display: inline-block;
}
.size-text {
  color: #888888;
  font-size: smaller;
  font-weight: bold;
}
/* Required star */
.required {
  color: #C90000;
}
.size-box {
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid #888888;
  color: #888888;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}
.size-box:hover {
  border: 2px solid #222222;
  color: #222222;
}

.size-selection {
  margin-top: 20px;
}
/* Hide the default radio button and use custom styles */
.size-selection input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
/* Show a custom indicator when the radio button is checked */
.size-selection input[type="radio"]:checked+.size-box {
  border: 2px solid #222222;
  color: #222222;
}
.item-card button {
  background-color: #fff;
  color: #222222;
  border: 2px solid #222222;
  padding: 8px 24px;
  cursor: pointer;
  font-family: 'Noto Sans', sans-serif;
}
.item-card button:hover {
  background-color: #222222;
  color: #fff;
  border: 2px solid #222222;
  padding: 8px 24px;
  cursor: pointer;
  font-family: 'Noto Sans', sans-serif;
}

/* X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767px) {
  button.screen {
    display: none;
  }
  header.grey-bar {
    max-width: 93%;
  }
  main{
    padding: 0 6%;
  }
  button.mobile {
    color: #888888;
    font-size: 0.7rem;
    padding-left: 80%;
  }
  h5 {
    padding-bottom: 10px; 
    padding-top: 20px;
  }
  }
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  header.grey-bar {
    max-width: 90%;
  }
  button.mobile {
  display: none;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  header.grey-bar {
    max-width: 90%;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  header.grey-bar {
    max-width: 90%;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  header.grey-bar {
    max-width: 90%;
  }
}